/**
 * Customizations for Prayer Mountain Publishing
 * By R. S. Usbal
 */

#topNav a.logo {
    background: url("/assets/images/logo.png") no-repeat scroll 0 center;
    width: 440px;
}

@media screen and (max-width: 530px) {
    #topNav a.logo {
        background: url("/assets/images/logo-280.png") no-repeat scroll 0 center;
        width: 280px;
    }
}
@media screen and (max-width: 360px) {
    #topNav a.logo {
        background: url("/assets/images/logo-240.png") no-repeat scroll 0 center;
        width: 240px;
    }
}
